<!DOCTYPE html>
<html lang="en">
<head>


    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ရွှေမိုးငွေမိုးရွာ</title>
    <!-- FAVICON -->
    <link href="~/images/favicon.png" rel="shortcut icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link href="~/css/all.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet">

    <link href="~/css/chosen.css" rel="stylesheet" />


</head>

<body class="body-wrapper">

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light navigation">
                        <a class="navbar-brand" href="index.html">
                            <img src="../images/logo.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <a class="btn btn-warning" asp-controller="Home" asp-action="Index">ပင်မစာမျက်နှာ</a>
                            <a class="btn btn-warning" asp-controller="Ticket" asp-action="Index">ထီထိုးရန်</a>
                            <a class="btn btn-warning">ထီတိုက်ရန်</a>
                            <ul class="navbar-nav ml-auto mt-10">
                                @await Component.InvokeAsync("ShoppingCartSummary")
                                <partial name="_LoginPartial" />
                            </ul>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="page-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advance Search -->
                    <div class="advance-search">
                        @await Component.InvokeAsync("SearchMenu")
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="padding-top:20px">
                    <div class="category-sidebar">
                        <div class="widget category-list">
                            <h4 class="widget-header">အစောင်တွဲများ</h4>
                            @await Component.InvokeAsync("CategoryMenu")                           
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </section>



    <!--============================
    =            Footer            =
    =============================-->

    <footer class="footer section section-sm">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                    <!-- About -->
                    <div class="block about">
                        <!-- footer logo -->
                        <img src="../images/logo.png" alt="">
                        <!-- description -->
                        <ul>
                            <li>No. 112, Bahan Township, Yangon.</li>
                            <li>09 9342 3289</li>
                            <li>info@elottery.com</li>
                        </ul>
                    </div>
                </div>
                <!-- Link list -->
                <div class="col-lg-4 offset-lg-1 col-md-3">
                    <div class="block">
                        <h4>Site Pages</h4>
                        <ul>
                            <li><a href="#">ပေါက်မဲများကြည့်ရန်</a></li>
                            <li><a data-toggle="modal" data-target="#catModal">အချက်အလက် မူဝါဒနှင့်စည်းကမ်းချက်များ</a></li>
                        </ul>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="catModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">အချက်အလက်မူဝါဒ နှင့် စည်းကမ်းချက်များ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>၁. လူကြီးမင်း၏နာမည်နှင့် မှတ်ပုံတင်နံပါတ်အား တင်သွင်းပြီးပြီဆိုပါက အောက်ပါအချက်အလက်များအားလိုက်နာရန်သဘောတူပြီးသားဖြစ်ပါမည်။</p>
                                    <p>၂. ရွှေမိုး ငွေမိုးရွာတွင် တင်သွင်းပြသထားသော ထီနံပါတ်များသည် နိုင်ငံတော်မှတရားဝင် ရောင်းချခွင့်ပြုထားသော ထီနံပါတ်များဖြစ်ပါသည်။</p>
                                    <p>၃. လူကြီးမင်းနှစ်သက်သော ထီနံပါတ်များအား ဝယ်ယူချိန်တွင်ရိုးရှင်းလွယ်ကူသော ထီဆိုင်ကြီးတစ်ဆိုင်ကဲ့သို့ဝယ်ယူနိုင်ပါသည်။ ထို့ကြောင့် စနစ်တကျဖြင့်ဝယ်ယူအားပေးရန်မေတ္တာရပ်ခံပါသည်။</p>
                                    <p>၄. ထီလက်မှတ်သည် လူကြီးမင်းတို့ထံရောက်ရှိပြီးချိန်တွင် ထီလက်မှတ်ပျောက်ဆုံးခြင်းနှင့် တခြားနောက်ပိုင်းပြဿနာများအားဖြေရှင်းပေးမည်မဟုတ်ပါ။</p>
                                    <p>၅. လူကြီးမင်းတို့၏ရရှိသော ဆုငွေအပေါ်တွင် ဝင်ငွေခွန်ပေးဆောင်ရန်မလိုပါ။</p>
                                    <p>၆. ထီဆုရသော လက်မှတ်တွင် အက္ခရာတစ်ဆက်တစ်စပ်တည်းမရှိ၊ ပိုင်းပြတ်စုတ်ပြတ်နေခြင်းနှင့် တခြားပြင်ရာ ဖျက်ရာ (သို့မဟုတ်) မူလအနေအထား ချွတ်ယွင်းပျက်စီးမူတွေ့ရှိပါက ဆုငွေထုတ်ပေးခြင်းကို သက်ဆိုင်ရာဌာနမှ ငြင်းပယ်ခွင့်ရှိပါသည်။</>
                                    <p>၇. ထီလက်မှတ်ဝယ်ယူထားကြောင်းအချက်အလက်ရှိသော်လည်း ထီလက်မှတ်တင်ပြနိုင်မှသာလျှင် ဆုငွေရထိုက်သူဟု အသိအမှတ်ပြုပေးပါမည်။</p>
                                    <p>၈. ဆုငွေရရှိသူ၊ ထီပေါက်သူသည် နိုင်ငံတော်သစ္စာဖောက်ဖျက်ပုန်ကန်ခြင်းနှင့် စပ်လျဉ်း၍ ပြစ်မူဆိုင်ရာဥပဒေပါ ပြစ်မူတစ်ခုခုကို ကျူးလွန်သည်ဟု အောင်ဘာလေသိန်းဆုဌာနခွဲညွှန်ကြာရေးမှူးကယုံကြည်ရန်အကြောင်းရှိလျှင် ဆုငွေထုတ်ပေးခြင်းကို ရပ်ဆိုင်းထားပိုင်ခွင်ရှိသည်။</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->
                </div>
                <!-- Link list -->

            </div>
        </div>
        <!-- Container End -->
    </footer>
    <!-- Footer Bottom -->
    <footer class="footer-bottom">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <!-- Copyright -->
                    <div class="copyright">
                        <p>
                            Copyright ©
                            <script>
                                var CurrentYear = new Date().getFullYear()
                                document.write(CurrentYear)
                            </script>. All Rights Reserved by <a class="text-primary" href="#" target="_blank">ရွှေမိုး ငွေမိုးရွာ</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <!-- Social Icons -->
                    <ul class="social-media-icons text-right">
                        <li><a class="fab fa-facebook" href="https://www.facebook.com/pg/ရွှေမိုးငွေမိုးရွာ-ထီဆိုင်-လက်လီလက္ကား-ရောင်းဝယ်ရေး-Online-Shopping-NPT-100417254857238/posts/?ref=page_internal" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Container End -->
        <!-- To Top -->
        <div class="top-to">
            <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
        </div>
    </footer>

    <!-- JAVASCRIPTS -->
    @*<script src="js/jquery.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/chosen.jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");

            $('.lightbox').each(function (index) {
                $(this).click(function () {
                    var imgSrc = $(this).children("img").attr("data-img");
                    console.log(imgSrc);
                    $('body').append('<div id="lightbox-modal" class="modal fade" tabindex="-1" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><img src="' + imgSrc + '" class="img-responsive"></div></div></div></div>');
                    $('#lightbox-modal').modal({ show: true });

                    $('#lightbox-modal').on('hidden.bs.modal', function (e) {
                        $(this).remove();
                    })
                    return false;
                });
            });
            // document ready
        });



    </script>

</body>

</html>